/* general */
body{
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}
/* nav */

.navbar-brand{
    font-family: kaushan script;
}
/* header */

header{
    background: url(img/headerImg.jpg);
    height: 80vh;
    background-size: cover;    
}
.text-intro{
    padding-top: 200px;
    padding-bottom: 200px;
}
.preTxt{
    font-size: 20px;
}
h1{
    font-size: 60px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
}
#home-icones{
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 1px solid #000;
}
/* action */
#start{
    position: relative;
    min-height: 200px;
    background: url(img/start.jpeg);
    background: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}
#start h2{
    font-size: 40px;
    color: #f1f1f1;
}
/* clients */
#clients{
    padding-bottom: 75px;    
}
.fab{
    font-size: 25px;
    color: #003366;
}
#image{
    width: 200px;
    height: 200px;
}